/* FROM UIVERSE */
:root {
    --primary-btn-color: #CD5241;
    --secondary-btn-color: #FFEEBD;
}
button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--secondary-btn-color);
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--secondary-btn-color);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 var(--secondary-btn-color);
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--primary-btn-color);
  }
  
  button:active {
    transform: scale(0.9);
  }